extends templates/layout

block main
  main
    h3 Services Offered:
    ul
      li Hospitals 
      li Hotels 
      li House Cleaning 
      li End of Tenancy 
      li Oven Cleaning 
      li Covid Disinfection