mixin comment(commentData)
  .comment
      .date= commentData.date
      .author= commentData.author
      .text= commentData.text

doctype html
html
  head
    title Mixins in Pug
    style.
      .comment {
        font-family: sans-serif;
        line-height: 1.5;
        padding: 10px;
        border: 1px solid #555;
        width: 250px;
      }

      .date {
        font-size: 85%;
        text-align: right;
      }

      .author {
        font-size: 100%;
        font-weight: bold;
      }
  body
    //- You call a mixin with the + sign, followed by the arguments to the function
    +comment({
      date: '04-02-2019',
      author: 'stevepurr',
      text: 'Hello, this is from a mixin.'
    })
    +comment({
      date: '05-11-2019',
      author: 'mysharona',
      text: 'Mah mah mah my sharonaaa.'
    })